$gray_color: #eee;
$gray_Two_color: #888;
$white_color: white;
$white_Two_color: #ddd;
$black_color: black;
$border_color: rgb(238, 238, 238);
$red_color: #f44336;
$orange_color: #f59e0b;
$green_color: #22c55e;
$blue_color: #0075ff;
$blue_Two_color: #0077b5;
$facebook_color: #1877f2;
$blue_hover_color: #0d69d5;
$twitter_color: #1da1f2;
$youtube_color: #ff0000;

// Screens
$mobile_screen: "max-width: 767px";

// progress
$progress: ("green2":160px , "green3" : 180px , "green4" : 210px)