/* start nav */
nav {
    padding: 0px 20px;
  }
  
  @media (max-width: 768px) {
    nav {
      padding: 0px 10px;
    }
  }
  nav form {
    border: solid 1px #ccc;
    padding: 10px;
  }
  
  nav input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 120px;
    transition: 0.5s;
  }
  
  nav input:focus::-moz-placeholder {
    opacity: 0;
  }
  
  nav input:focus::placeholder {
    opacity: 0;
  }
  
  nav input:focus {
    width: 180px;
  }
  
  div.acc i {
    padding-right: 20px;
    position: relative;
  }
  
  div.acc i::after {
    content: "";
    position: absolute;
    background-color: var(--color-red);
    border-radius: 50%;
    top: -16px;
    left: 13px;
    width: 10px;
    height: 10px;
  }
  
  div.acc img {
    width: 30px;
  }
  
  /* end nav */
  h1.dash {
    font-size: 40px;
    padding-top: 20px;
    position: relative;
  }
  
  h1.dash::after {
    content: "";
    position: absolute;
    background-color: white;
    width: 140px;
    height: 2px;
    bottom: -10px;
    left: 0;
  }
  
  h1.dash::before {
    content: "";
    background-color: black;
    position: absolute;
    width: 40px;
    height: 2px;
    bottom: -10px;
    left: 0;
    z-index: 1;
  }
  