/* start global rules */
@use "../helpers/mixins.scss" as *;
@use "../helpers/variables.scss" as *;

@include navLinkNow(first-of-type);

.center {
  @include mobileMedia {
    text-align: center;
  }
}

/* start dashboard */

div.all {
  @include grid(400px, 20px, 30px 20px 0 20px);
  @include mediaChoosen("max-width: 510px") {
    @include grid(200px, null, 30px 10px 0 10px);

  }
}

div.dashboard {
  width: calc(100% - 200px);
  @include mobileMedia {
    width: calc(100% - 70px);
  }
}

section.dashboard h1 {
  padding-bottom: 10px;
  font-weight: 500;
  position: relative;
}

section.dashboard a {
  @include movePosition(absolute, "right", "bottom", 10px, 25px);
}

section.dashboard p {
  color: var(--color-grey);
  padding-bottom: 40px;
}

div.dash {
  background-color: $gray_color;
}

div.dash img {
  width: 180px;
  @include mobileMedia {
    display: none;
  }
}

section.dashboard > img:last-of-type {
  width: 50px;
  border: solid 4px $white_color;
  border-radius: 50%;
  @include movePosition(absolute, "left", "top", 250px, 270px);
  z-index: 4;
  @include mobileMedia {
    left: 100px;
    top: 262px;
  }
}

div.detaildash h1 {
  font-size: 16px;
}

div.detail {
  position: relative;
}

div.detaildash {
  height: 200px;
  justify-content: space-evenly;
}

div.detaildash::before,
div.detaildash::after {
  content: "";
  position: absolute;
  @include propsElement($white_Two_color,null,100%,1px);
}

div.detaildash::before {
  top: 35px;
}

div.detaildash::after {
  bottom: 70px;
}

section.dashboard a:hover {
  background-color: var(--color-blue-hover);
}
/* end dashboard */

/* start draft */
section.draft {
  border-radius: 10px;
  position: relative;
}

section.draft input,
section.draft textarea {
  display: block;
  outline: none;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  @include propsElement($gray_color,null,100%,40px);
}

section.draft textarea {
  height: 120px;
  resize: none;
}

section.draft a {
  @include movePosition(absolute, "right", "bottom", 20px, 15px);
}

div.money {
  display: flex;
}

section.targets i {
  @include flex(center, center);
  @include propsElement(null , null , 80px, 80px)
}

div.money i {
  background-color: rgb(0 117 255 / 20%);
}

div.projects i {
  color: $orange_color;
  background-color: rgb(245 158 11 / 20%);
}

div.team i {
  background-color: rgb(34 197 94 / 20%);
  color: $green_color;
}

div.blue,
div.orange,
div.green {
  @include propsElement(rgb(0 117 255 / 20%), null, 100%, 4px);
  @include movePosition(relative, "left", "bottom", -50px, -15px);
}

div.orange,
div.green {
  left: 100px;
  top: -10px;
  @include propsElement(rgb(245 158 11 / 20%), null, calc(100% - 150px),null );
}

div.green {
  background-color: rgb(34 197 94 / 20%);
}

div.blue::after,
div.orange::after,
div.green::after {
  content: "";
  @include propsElement($blue_color, null, 80%, 100%);
  position: absolute;
  left: 0;
}

div.orange::after {
  @include propsElement($orange_color, null, 55%,null);
}

div.green::after {
  @include propsElement($green_color,null,75%,null);
}

div.blue span,
div.orange span,
div.green span {
  padding: 5px;
  font-size: 13px;
  border-radius: 6px;
  @include propsElement($blue_color,$white_color,nul,null);
  @include movePosition(absolute,"right","bottom",16%,15px);
  @include mobileMedia {
    right: 10%;
  }
}

div.orange span {
  background-color: $orange_color;
  right: 41%;
  @include mobileMedia {
    right: 40%;
  }
}

div.green span {
  background-color: $green_color;
  right: 20%;
  @include mobileMedia {
    right: 19%;
  }
}

div.blue span::after,
div.orange span::after,
div.green span::after {
  content: "";
  border-width: 7px;
  border-color: $blue_color transparent transparent;
  border-style: solid;
  @include movePosition(absolute,"left","top",10px,25px);
}

div.orange span::after {
  border-color: $orange_color transparent transparent;
}

div.green span::after {
  border-color: $green_color transparent transparent;
}

/* end draft */

/* start tickets */
div.ticks {
  @include grid(200px, 20px,null);
  padding: 10px 0 10px 30px;
}

div.ticket {
  border: solid 1px #ccc;
  text-align: center;
  border-radius: 10px;
  padding-bottom: 20px;
}

/* end tickets */

/* start news */

div.newall {
  display: flex;
  position: relative;
}

div.newall:not(:last-of-type)::after {
  content: "";
  @include propsElement($white_Two_color,null,calc(100% - 20px),1px);
  @include movePosition(absolute, "left","bottom",0px,0);
}

div.newall img {
  width: 100px;
  border-radius: 6px;
  margin-right: 15px;
}

div.ago {
  position: absolute;
  right: 30px;
  font-size: 13px;
  background-color: $gray_color;
  padding: 5px 10px;
  border-radius: 6px;
}

@include mediaChoosen("max-width:  1268px") {
  div.newall {
    flex-direction: column;
    padding-bottom: 50px;
  }

  div.ago {
    right: 50%;
    transform: translateX(50%);
    top: 140px;
  }
}

/* end news */
/* start task */

div.task i {
  transition: 0.3s;
}

div.task i:hover {
  color: $red_color;
}

div.task h1.line {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.274);
}

div.task i.line {
  color: $white_Two_color;
}

div.task p.line {
  text-decoration: line-through;
  color: rgba(136, 136, 136, 0.555);
}
/* end task */

/* start search */
ul.searchs {
  padding: 20px 0;
}
/* end search */

/* start uploads */
div.upp img {
  width: 40px;
}

div.mb {
  position: absolute;
  right: 10px;
  background-color: $gray_color;
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 6px;
}
/* end uploads */

/* start project */
div.proges {
  display: flex;
}

div.proges img {
  opacity: 0.1;
  @include propsElement(null,null,200px,180px);
  @include movePosition(absolute,"right","bottom",0,0);
  @include mobileMedia {
    display: none;
  }
}

div.progec div {
  @include propsElement($blue_color,null,25px,25px);
  border-radius: 50%;
  margin-right: 15px;
  position: relative;
}

div.progec:last-of-type div,
div.progec:nth-child(4) div {
  background-color: transparent;
}

div.progec:nth-child(4) div {
  animation: show 1.3s alternate infinite;
}

@keyframes show {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: $blue_color;
  }
}

div.progec:not(:last-of-type) div::before {
  content: "";
  transform: translateX(-50%);
  @include movePosition(absolute,"left","top",50%,30px);
  @include propsElement($blue_color,null,2px,21px);
}

div.progec div::after {
  content: "";
  @include movePosition(absolute, "left", "top", -6px, -5px);
  @include propsElement(transparent, null, 30px, 30px);
  border: solid 3px $blue_color;
  border-radius: 50%;
}

/* end project */

/* start Reminders */
div.circlerem,
div.circleremg,
div.circleremo,
div.circleremd {
  @include propsElement($blue_color,null , 15px , 15px);
  border-radius: 50%;
  margin-right: 30px;
  position: relative;
}

div.circleremg {
  background-color: $green_color;
}

div.circleremo {
  background-color: $orange_color;
}

div.circleremd {
  background-color: $red_color;
}

div.circlerem::after,
div.circleremg::after,
div.circleremo::after,
div.circleremd::after {
  content: "";
  @include propsElement($blue_color , null,2px,50px);
  @include movePosition(absolute,"right","top",-15px,-20px)
}

div.circleremg::after {
  background-color: $green_color;
}

div.circleremo::after {
  background-color: $orange_color;
}

div.circleremd::after {
  background-color: $red_color;
}

/* end Reminders */

/* start post */

div.posts img {
  width: 60px;
}

div.reacts div:first-of-type,
div.reacts div:last-of-type {
  padding: 0 10px;
  position: absolute;
  bottom: 20px;
}

p.post {
  padding-top: 40px;
}

section.post p.post::after,
section.post p.post::before {
  content: "";
  @include movePosition(absolute,"left","bottom",0,-20px);
  @include propsElement($white_Two_color, null , 100%,1px)
}

section.post p.post::before {
  top: 10px;
}

div.reacts div:first-of-type {
  right: 20px;
}
/* end post */

/* start social media */
div.socials i {
  color: $white_color;
  transition: 0.3s;
  @include flex(center,center);
}

div.socials i:hover {
  transform: rotate(5deg);
}

div.socials span {
  margin-left: -15px;
}

div.socials i,
div.follow a {
  @include propsElement($twitter_color,null, 59px,60px)
}

div.socials i.facebook,
div.like a {
  background-color:$facebook_color;
}

div.socials i.you,
div.sub a {
  background-color: $red_color;
}

div.socials i.linkdin,
div.foll a {
  background-color: $blue_Two_color;
}

div.socials div
 {
  @include propsElement(rgb(29 161 242 / 20%), null, 100%,null);
  padding: 15px;
}

div.follow {
  color: $twitter_color;
}

div.like {
  @include propsElement( rgb(24 119 242 / 20%), $blue_Two_color, null,null)
}

div.sub {
  @include propsElement(rgb(255 0 0 / 20%),$youtube_color,null, null)
}

div.foll {
  @include propsElement(rgb(0 119 181 / 20%), $blue_Two_color,null,null);
}

div.socials a {
  font-size: 13px;
  @include propsElement(null,$white_color,fit-content,30px);
  @include flex(center,center);
  padding-left: 20px;
  border-radius: 6px;
  font-weight: 600;
}
/* end social media */

/* start clients */
section.clients {
  margin: 20px 20px;
  overflow-x: auto;
  width: calc(100% - 40px);
}

section.clients img {
  width: 30px;
  border-radius: 50%;
  border: solid 2px $white_color;
}

section.clients img:not(:first-of-type) {
  margin-left: -18px;
}

table {
  text-align: left;
  width: 100%;
  padding: 0 20px;
  @include mediaChoosen("max-width: 1202px") {
    width: 1000px;
  }
}

table:first-of-type {
  background-color: $gray_color;
  background-clip: content-box;
}

tbody {
  position: relative;
}

tbody:last-of-type::after {
  content: "";
  @include propsElement(rgb(238, 238, 238),null,100%,1px);
  position: absolute;
  left: 0;
}

thead th {
  background-color: $gray_color;
  padding: 10px;
}

tr th,
tr td {
  padding-left: 15px;
}

tr td:last-of-type {
  border-right: 1px solid $border_color;
}

tbody tr {
  position: relative;
  td {
    padding: 20px;
    position: relative;
    border-left: 1px solid $border_color;
  }
}

table:not(:first-of-type):hover {
  background-color: #faf7f7;
  background-clip: content-box;
}

@include table(first-of-type,20%);
@include table(nth-child(2),15%);
@include table(nth-child(3),20%);
@include table(nth-child(4),10%);
@include table(nth-child(5),15%);
@include table(nth-child(6),20%);
/* end clients */
