@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;

@include navLinkNow(nth-child(8));

/* start Plans */
div.plans {
  padding-top: 40px;
  padding-bottom: 20px;
  @include grid(400px, 20px ,null);
  @include mobileMedia {
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr))

  }
}

div.plan {
  background-color: $white_color;
  padding: 20px;
  border-radius: 6px;
}

div.plen {
  text-align: center;
  border-radius: 6px;
  position: relative;
  @include propsElement($green_color, $white_color,null,null);
}

div.blue {
  background-color: $blue_color;
}

div.orange {
  background-color: $orange_color;
}

div.plen::after {
  content: "";
  border: solid 2px $green_color;
  border-radius: 6px;
  @include propsElement(null,null,calc(100% + 5px),calc(100% + 5px));
  @include movePosition(absolute, "left","top",-5px,-5px);
}

div.blue::after {
  border: solid 2px $blue_color;
}

div.orange::after {
  border: solid 2px $orange_color;
}

div.plen h2 {
  font-size: 45px;
}

i.yes {
  color: $green_color;
}

i.no {
  color: $red_color;
}

i.help {
  color: $gray_Two_color;
}

div.detail-plan {
  font-weight: 600;
  position: relative;
}

div.detail-plan::before {
  content: "";
  position: absolute;
  bottom: -5px;
  @include propsElement($white_Two_color, null, 100%, 1px);
}

p.current {
  text-align: center;
  font-weight: 600;
}

div.plan a:last-of-type {
  display: block;
  width: 50px;
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
  padding: 5px;
  border-radius: 6px;
}

div.plan a.joing {
  background-color: $green_color;
}
/* end Plans */
