@use "../helpers/mixins" as *;
@use "../helpers/variables" as *;

@include navLinkNow(nth-child(4));

/* end aside */

/* start Project */
div.all {
  @include grid(400px, 20px, 30px 20px 0 20px);
  @include mediaChoosen("max-width: 510px") {
    margin: 30px 10px 0 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.texts {
  font-size: 13px;
}

div.project ul {
  justify-content: flex-end;
  @include mobileMedia {
    display: block;
  }
  li {
    background-color: $gray_color;
    margin-left: 10px;
    border-radius: 6px;
    padding: 5px 10px;
    font-size: 13px;
    @include mobileMedia {
      width: fit-content;
      margin-bottom: 20px;
    }
  }
}

div.prog {
  @include mobileMedia {
    flex-direction: column;
    align-items: center;
  }
}

div.project ul::after {
  content: "";
  @include propsElement($white_Two_color, null, 100%, 1px);
  position: absolute;
  bottom: 0;
}

.images {
  padding-bottom: 50px;
}

.images img {
  width: 40px;
  border-radius: 50%;
  border: solid 2px white;
  transition: 0.3s;
}

.images img:not(:first-of-type) {
  margin-left: -10px;
}

.images img:hover {
  z-index: 1;
}

div.images::after {
  content: "";
  @include propsElement($white_Two_color, null, 100%, 1px);
  @include movePosition(absolute, "left", "bottom", 0, 25px);
}

div.progress,
div.green {
  @include propsElement($gray_color, null, 250px, 8px);
  border-radius: 6px;
  position: relative;
}

div.progress::after {
  content: "";
  height: 8px;
  border-radius: 6px;
  position: absolute;
}

div.red::after,
div.red2::after {
  @include propsElement($red_color, null, 150px, null);
}

div.red2::after {
  width: 100px;
}

div.prog {
  > div {
    @include propsElement($green_color, null, 200px, null);
  }
}

@each $progName, $progWidth in $progress {
  div.#{$progName}::after {
    width: $progWidth;
  }
}

div.blue::after {
  @include propsElement($blue_color, null, 250px, null);
}

p.dollar::before {
  content: "\24";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  left: -15px;
  color: $gray_Two_color;
}

/* end dollar */
